@use 'sass:string';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:list';

$mediaQueries: (
    'compact': string.unquote('only screen and (max-width: 600px)'),
    'medium': string.unquote('only screen and (min-width: 601px) and (max-width: 840px)'),
    'expanded': string.unquote('only screen and (min-width: 841px) and (max-width: 1200px)'),
    'large': string.unquote('only screen and (min-width: 1201px) and (max-width: 1600px)'),
    'extra': string.unquote('only screen and (min-width: 1601px)'),
);
@mixin forBreakpoint($breakpoints) {
    $conditions: ();
    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: list.append($conditions, #{meta.inspect(map.get($mediaQueries, $breakpoint))}, comma);
    }

    @media #{$conditions} {
        @content;
    }
}
